<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

   <%= form.file_field :avatar %>

   <% if user.avatar? %>
    <%= image_tag user.avatar.url %>
    <div>
      <%= label_tag :remove_avatar do %>
        Remove avatar
        <%= form.check_box :remove_avatar %>
      <% end %>
    </div>
<% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


