<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= form_tag(users_path, method: :get) do %>
  Store <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
