<%= form_with(model: organization_detail, local: true) do |form| %>
  <% if organization_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization_detail.errors.count, "error") %> prohibited this organization_detail from being saved:</h2>

      <ul>
      <% organization_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field"> 
    <%= form.label :organization_id %>
    <%= form.collection_select :organization_id, Organization.order(:name), :id, :name, include_blank: true %> 
  </div>

   <%= form.file_field :avatar %>

  <% if organization_detail.avatar? %> 
    <%= image_tag(organization_detail.avatar.url, style: 'width:100px') if organization_detail.avatar? %>
    <div>
      <%= label_tag :remove_avatar do %>
        Remove avatar
        <%= form.check_box :remove_avatar %>
      <% end %>
    </div>
  <% end %>

  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
