<p id="notice"><%= notice %></p>

<h1>Organization Details</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organization_details.each do |organization_detail| %>
      <tr>
        <td><%= organization_detail.name %></td>
        <td><%= organization_detail.phone %></td>
        <td><%= organization_detail.email %></td>
        <td><%= link_to 'Show', organization_detail %></td>
        <td><%= link_to 'Edit', edit_organization_detail_path(organization_detail) %></td>
        <td><%= link_to 'Destroy', organization_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization Detail', new_organization_detail_path %>
