<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization_detail.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization_detail.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization_detail.email %>
</p>

<%= link_to 'Edit', edit_organization_detail_path(@organization_detail) %> |
<%= link_to 'Back', organization_details_path %>
