<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

   <%= form.file_field :logo %>

   <% if organization.logo? %>
    <%= image_tag(organization.logo.url, style: 'width:100px') if organization.logo? %>
    <div>
      <%= label_tag :remove_logo do %>
        Remove logo
        <%= form.check_box :remove_logo %>
      <% end %>
    </div>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
