<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td>
          <a href="/Details/<%= organization.id %>">
            <%= image_tag(organization.logo.url, style: 'width:100px') if organization.logo? %>
          </a>
        </td>
        <td><%= organization.name %></td>
        <td><%= organization.phone %></td>
        <td><%= organization.email %></td>
        <td><%= organization.website %></td>
        <td><%= link_to 'Details', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
