<p id="notice"><%= notice %></p>
 <%= image_tag(@organization.logo.url, style: 'width:100px') if @organization.logo? %>
<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>


<br>
<h3>PIC</h3> 


<table class="table">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th> 
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @organization_details.each do |organization_detail| %>
      <tr>
        <td> 
            <%= image_tag(organization_detail.avatar.url, style: 'width:100px') if organization_detail.avatar? %> 
        </td>
        <td><%= organization_detail.name %></td>
        <td><%= organization_detail.phone %></td>
        <td><%= organization_detail.email %></td>  
        <td><%= link_to 'Edit', edit_organization_detail_path(organization_detail) %></td>
        <td><%= link_to 'Destroy', organization_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>