
<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper" style="width: 300px">
	<div class="sidebar-heading" style="text-align: center;">Menu</div>
	<div class="list-group list-group-flush"> 
		<a href="/users" class="list-group-item list-group-item-action bg-light">Users</a> 
		<a href="/organizations" class="list-group-item list-group-item-action bg-light">Organization</a> 
		<a href="/organization_details/new" class="list-group-item list-group-item-action bg-light">PIC Organization</a> 
	</div>
</div>
    <!-- /#sidebar-wrapper -->