<!DOCTYPE html>
<html>
  <head>
    <title>ChallengeRuby</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="d-flex" id="wrapper">

  
    <%= render partial: 'layouts/sidebar' %>

    <!-- Page Content -->
    <div id="page-content-wrapper" style="width: 100%">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom"> 

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <%= link_to "Log Out", logout_path %>
            </li> 
          </ul>
        </div>
      </nav>

      <div class="container-fluid"> 
        <%= yield %>
         
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>

  </body>
</html>
